body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: #113448e3;
  background-image: linear-gradient(
      115deg,
      rgba(0, 0, 0, 0.192),
      rgba(0, 0, 0, 0.411)
    ),
    url(./form-bg-final2.jfif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} 