/* .form-control {
    margin: 1rem 0;
  }
  
  .form-control label,
  .form-control input,
  .form-control textarea {
    display: block;
  }
  
  .form-control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .form-control input,
  .form-control textarea {
    width: 100%;
    font: inherit;
    border: 1px solid #ccc;
    background: #f8f8f8;
    padding: 0.15rem 0.25rem;
  }
  
  .form-control input:focus,
  .form-control textarea:focus {
    outline: none;
    background: #ebebeb;
    border-color: #510077;
  }
  
  .form-control--invalid label,
  .form-control--invalid p {
    color: red;
  }
  
  .form-control--invalid input,
  .form-control--invalid textarea {
    border-color: red;
    background: #ffd1d1;
  } */

  .form-control {
    margin: 1rem 0;
  }
  
  .form-control label,
  .form-control input,
  .form-control textarea {
    display: block;
  }
  
  .form-control label {
    height: 100%;
  
    left: 0;
    top: 0;
    padding: 10px;
    color: black;
    cursor: text;
    transition: 0.2s;
  }
  
  .form-control input,
  .form-control textarea {
    width: 80%;
    padding: 10px;
    font-size: 15px;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.10);
background: #FFFFFF;
border-radius: 10px;
outline: none;
border-color:white;
  }
  .form-control {
    border: none !important; 
  }
  .form-control input:focus,
  .form-control textarea:focus {
    outline: none;
    background: #ebebeb;
    border-color: #510077;
  }
  
  .form-control--invalid label,
  .form-control--invalid p {
    color: red;
  }
  
  .form-control--invalid input,
  .form-control--invalid textarea {
    border-color: red;
    background: #ffd1d1;
  }

  .card1{
    box-sizing: border-box;

left: 4.86%;
right: 4.93%;
top: 17.68%;
bottom: 10.09%;

background: #FFFFFF;
border: 1px solid #AAAAAA;
border-radius: 20px;
  
  }


.cardh
{ 
background: #113448;
opacity: 0.85;
border-radius: 20px 20px 0px 0px;
}

.txt1{
  color:white;
  padding-left: 20px;
}
